.chart {
  width: 800px;
  position: relative;
}

.handles {
  width: 737px;
  position: absolute;
  height: 88.5%;
  top: 20px;
  left: 46px;
  bottom: 0;
  right: 0;
}

.handleWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  backgroundcolor: none;
  borderleft: 2px solid red;
  cursor: ew-resize;
}

.handle {
  position: absolute;
  top: -25px;
  right: 11px;
  color: white;
  padding: 2px 5px;
  background: black;
  border: 1px solid black;
}
